.index {
  .title {
    width: 100%;
    /* prettier-ignore */
    height: 60PX;
    /* prettier-ignore */
    line-height: 60PX;
    /* prettier-ignore */
    font-size: 24PX;
    text-align: center;
    background-color: #ccc;
  }
  .question-list {
    /* prettier-ignore */
    margin-top:10PX;
    .question {
      /* prettier-ignore */
      margin: 20PX 0;
      /* prettier-ignore */
      padding: 0 10PX;
      /* prettier-ignore */
      font-size: 14PX;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .question-left {
        width: 100%;
      }
      .question-title {
        /* prettier-ignore */
        font-size: 18PX;
      }
      .question-des {
        /* prettier-ignore */
        margin-bottom:5PX;
      }
      .question-right {
        /* prettier-ignore */
        width: 100PX;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* prettier-ignore */
        height: 80PX;
        .img {
          /* prettier-ignore */
          width: 28PX;
          /* prettier-ignore */
          height: 28PX;
        }
      }
    }
  }
  .btn {
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0px;
    background-color: #51854d;
    color: #ccc;
    width: 100%;
    /* prettier-ignore */
    height: 40PX;
    /* prettier-ignore */
    line-height: 40PX;
    /* prettier-ignore */
    font-size: 20PX;
    text-align: center;
  }
}
